/**
 * CSS image crop. Forces image to 4:3 aspect ratio cropping at the middle.
 * http://dabblet.com/gist/4711695
 */
.img-crop,
.img-crop img {
  width: 100%; /* gotta be responsive these days */
}

.img-crop {
  background-color: #ededed; /* some background color for short images */
  overflow: hidden;

  /* remove white-space for inline-block elements */
  letter-spacing: -0.31em; /* webkit */
  *letter-spacing: normal; /* reset IE < 8 */
  word-spacing: -0.43em; /* IE < 8 && gecko */
}

.img-crop:before,
.img-crop img {
  /* vertically center the image */
  display: inline-block;
  vertical-align: middle;
}

.img-crop:before {
  /* pseudo element to vertically align image to */
  content: "";

  /* Magic Number */
  /* Set this to your desired height(to width) ratio */
  padding-top: 75%; /* % of original image width */
}

.img-crop img {
  /* removes(sorta) image from the flow */
  padding-left: 100%;
  margin: -999em -100%;
}
