@import 'utils';
@import 'crop-img';
@import 'gallery';

@import "mixins";

html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  padding: 0;
  min-height: 100%;
}

.el-card {
  @include box_shadow(3);
}

#app {
  min-height: 100vh;
}

.note {
  color: gray;
  font-size: .8rem;
}

.el-upload--text {
  width: 100% !important;
  text-align: justify;
}

pre {
  font-size: .8rem;
}

.pdfobject-container {
  margin: 0 !important;
}

.events-wrapper {
  padding: 2rem !important;
}

.el-table, .el-table td, .el-table th {
  border-color: #ccc !important;

  border-right: 1px solid;
  border-bottom: 1px solid;
}

.el-table--striped .el-table__body tr.el-table__row--striped.current-row td, .el-table__body tr.current-row > td, .el-table__body tr.hover-row.current-row > td, .el-table__body tr.hover-row.el-table__row--striped.current-row > td, .el-table__body tr.hover-row.el-table__row--striped > td, .el-table__body tr.hover-row > td {
  background-color: #9e9e9e47 !important;
  cursor: pointer;
}
.table-actions {
  cursor: auto !important;
}

dl.contact-infos {
  width: 100%;
  border-top: 1px solid #cccccc;
  dt, dd {
    line-height: 1.4rem;
  }
  dt {
    margin-top: .7rem;
    color: #616161;
    font-size: .9rem;
  }
  dd {
    margin: .5rem 0 0 0;
    padding-bottom: .7rem;
    border-bottom: 1px solid #cccccc;
  }
}

.title {
  margin: 0;
}

a {
  text-decoration: none;
}
